@import url('https://fonts.googleapis.com/earlyaccess/amiri.css');

*{
    font-family: 'Amiri';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em 12.5em;
}

.logo{
    text-decoration: none;
    color: goldenrod;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
}

.navigation a{
    color: goldenrod;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 1.875em;
}

.navigation a:hover{
    color: gold;
}

section {
    padding: 6.25em 12.5em;
}

center{
    font-family: 'Amiri';
    width: 100%;
    min-height: 100vh;
    background: url(images/rd.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 9.375em;
    padding-left: 1.875em;
}

center button{
    color: goldenrod;
    background: black;
    border: 2px solid goldenrod;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 0.063em;
    border-radius: 0.938em;
    margin-bottom: 2.5em;
    transition: 0.7s ease;
}

center button:hover{
    background: transparent;
    color: gold;
    border: 0.125em solid goldenrod;
    cursor: pointer;
}
center h3{
    color: #3684ff;
    font-size: 5em;
    text-transform: capitalize;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards{
    background-color: #000;
}

.title{
    display: flex;
    justify-content: center;
    color: goldenrod;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 1.875em;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: black;
    width: 21.25em;
    box-shadow: 0 0.313em 1.563em rgba(#39FF14/ 15%);
    border-radius: 0.625em;
    padding: 1.563em;
    margin: 0.938em;
    transition: 0.7s ease;
    border: 0.125em solid #39FF14;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #39FF14;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #39FF14;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0.625em;
}

.info p{
    color: white;
}

.kw{
    background-color: black;
}

.projects .content{
    margin-top: 1.875em;
}

.project-card{
    background-color: black;
    border: 0.063em solid goldenrod;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 0.625em;
    margin: 1.25em;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-category {
    font-size: 1em;
    color: goldenrod;
    font-weight: bold;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0.625em;
    color: black;
}

.project-title span{
    display: flex;
    font-family: 'Dungeon';
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0.625em;
    color: white;
}

.more-details {
    text-decoration: none;
    color: gold;
    opacity: 0.75;
}

.more-details:hover {
    opacity: 1;
}

.mw{
    background-color: black;
}

.kr{
    background-color: black;
}

.ak{
    background-color: black;
}

.ak div{
    margin-top: 3.125em;
}

.ak div a{
    border-radius: 30px;
}

.about{
    width: 100%;
    padding: 4.875em 0em;
    background-color: black;
}

.about img{
    height: 50em;
    width: 23em;
    border-radius: 0.5em;
}

.about-us{
    width: 34.375em;
}

.about-us a{
    border-radius: 30px;
}

.sami{
    width: 70.625em;
    max-width: 95%;
    margin: 0.625em 0.625em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sami img{
    border: 0.063em solid goldenrod;
    width: 25em;
    max-width: 95%;
    border-collapse: separate; 
    height: 35.938em;
    margin: 0 auto;
    border-radius: 1.875em;
    perspective: 0.063em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0px;
    transition: 0.7s ease;
}

.sami img:hover{
    transform: scale(1.1);
}

.about-us h1{
    color: goldenrod;
    font-size: 5em;
    text-transform: capitalize;
    margin-bottom: 1.25em;
}

.about-us h5{
    color: white;
    font-size: 1.563em;
    text-transform: capitalize;
    margin-bottom: 1.563em;
    letter-spacing: 0.125em;
}

.about-us span{
    color: goldenrod;
}

.about-us p{
    color: white;
    letter-spacing: 0.063em;
    line-height: 1.75em;
    font-size: 1.125em;
    margin-bottom: 2.813em;
}

audio{
    color: white;
    letter-spacing: 0.063em;
    line-height: 1.75em;
    font-size: 1.125em;
    margin-bottom: 2.813em;
}

audio::-webkit-media-controls-panel{
    background-color: white;
}

.about-us a{
    background: goldenrod;
    color: white;
    text-decoration: none;
    border: 0.125em solid transparent;
    font-weight: bold;
    padding: 0.813em 1.875em;
    border-radius: 1.875;
    transition: .4s;
}

.about-us a:hover{
    background: transparent;
    border: 0.125em solid goldenrod;
    cursor: pointer;
}

.sk{
    background-color: black;
}

.sk div{
    margin-top: 3.125em;
}

footer{
    position: relative;
    width: 100%;
    background: #ffd700;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icons,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icons a
{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icons a:hover {
    transform: translateY(-10px);
    animation: flicker 1.5s infinite alternate;     
  }
  
  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%{
  
        text-shadow:
        0 0 0.25em #fff,
        0 0 0.688em #fff,
        0 0 1.188em #fff,
        0 0 1.438em goldenrod,
        0 0 1.938em goldenrod,
        0 0 3.063em goldenrod,
        0 0 3.125em goldenrod,
        0 0 4em goldenrod;
    
    }
    
    20%, 24%{        
        text-shadow: none;
    }    
  }

ul {
    list-style-type: none;
}

footer .menu li a
{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave1.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 6.25em;
    animation: animatWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0.938em;
    animation: animatWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 1.25em;
    animation: animatWave_02 3s linear infinite;
}

@keyframes animatWave {
    0%
    {
        background-position-x: 62.5em;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animatWave_02 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 62.5em;
    }
}